#keyboardContainer {
    font: 1.1vw Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
}

.DA-Keyboardcontainer {
    color: #000;
    margin: 2em;
    height:15em;
    display: inline-block;
}

ul.DA-PianoKeyboard {
    display: inline-block;
    padding: 0;
    cursor: pointer;
    list-style-type: none;
}

ul.DA-PianoKeyboard li {
    box-sizing: border-box;
    float:left;
    position: relative;
    border-style: solid;
    border-color: #000;
    border-width: 0.2em 0.1em 0.2em 0.1em;
    border-radius: 0 0 0.4em 0.4em;
    color: #ccc;
    text-align: center;
}

li>p {
    font-size: 1.6em;
    margin: 0;
}

ul.DA-PianoKeyboard li:first-of-type {
    border-left-width: 0.2em;
    border-top-left-radius: 0.4em;
}

ul.DA-PianoKeyboard li:last-of-type {
    border-right-width: 0.2em;
    border-top-right-radius: 0.4em;
}

.whiteKey {
    width: 3em;
    height: 15em;
    background: #fff;
    padding-top: 12em;
}

.blackKeySharp, .blackKeyFlat {
    z-index: 1;
    width: 2em;
    height: 5em;
    margin: 0 -1em 0-1em;
    padding-top: 1em;
}

.whiteKey:hover:active {
    background: #eee;
}

.whiteKey:hover {
    background: #f9f9f9;
}


.blackKeySharp:hover:active, .blackKeyFlat:hover:active {
    background: #555;
}

.blackKeySharp:hover, .blackKeyFlat:hover {
    background: #444;
}

.blackKeySharp {
    background: #000;
}

.blackKeyFlat {
    top: 4em;
    background: #111;
}


/* Octave shift */

.DA-Keyboardcontainer button{
    font-size: 5em;
    vertical-align: top;
    margin: 0.2em;
    padding: 0.2em;
    height: 3em;
    border-style: none;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    color: #999;
    cursor: pointer;
}

.DA-Keyboardcontainer button:disabled{
    visibility: hidden;
}

.DA-Keyboardcontainer button:hover {
    background-color: #eeeeee;
}


/* Notes Selection */

#DA-NoteSelection {
    display: inline-block;
    margin-left: 2.5em;
    height: 2em;
}

.DA-NoteClefSelection *{
    font-size: 1.5em;
}

.DA-NoteClefSelection input[type=radio] {
    display: none;
}

.DA-NoteClefSelection input[type=radio] + label {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 0.5em;
    border: 0.1em solid #000;
    border-radius: 0.1em;
    margin-left: -0.05em;
    /* margin-left: -6px; Margin is due to white space in html */
}

.DA-NoteClefSelection input[type=radio]:checked + label {
    background: #666666;
    color: #eeeeee;
}


/* Clef Selection */

#DA-ClefSelection {
    display: inline-block;
    margin-left: 20em;
}
