body, button{
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	color: #000;
}

.keyboardcontainer {
	width:800px;
	padding: 20px;
}

 ul.pianokeyboard {
	position: relative;
	height:160px;
	width: 100%;
	padding: 0;
	cursor: pointer;
	list-style-type: none;
}

ul.pianokeyboard li {
	position: relative;
	float: left;
	border-style: solid;
	border-color: #000;
	border-width: 2px 1px 2px 1px;
	border-radius: 0 0 4px 4px;
}

ul.pianokeyboard li:first-of-type {
	border-left-width: 2px;
	border-top-left-radius: 4px;
}

ul.pianokeyboard li:last-of-type {
	border-right-width: 2px;
	border-top-right-radius: 4px;
}

.whiteKey {
	width: 30px;
	height: 150px;
	background: #fff;
}

.whiteKey:hover:active {
	background: #eee;
}

.whiteKey:hover {
	background: #f9f9f9;
}

.blackKeySharp {
	background: #000;
	z-index: 10;
	width: 20px;
	height: 50px;
	margin: 0 0 0 -10px;
}

.blackKeySharp:hover:active {
	background: #555;
}

.blackKeySharp:hover {
	background: #444;
}

.blackKeyFlat {
	top: 50px;
	background: #111;
	z-index: 10;
	width: 20px;
	height: 50px;
	margin: 0 0 0 -10px;
}

.blackKeyFlat:hover:active {
	background: #555;
}

.blackKeyFlat:hover {
	background: #444;
}

/* positioning */

.blackKeyFlat + .whiteKey {
	margin-left: -12px;
}

.blackKeySharp + .blackKeyFlat{
	margin-left: -22px;
}


/* Octave switch */

.octaveSwitch{
	padding: 20px;
}

.octaveSwitch button {
	display: inline-block;
	cursor: pointer;
	background-color: #fff;
	margin: 10px;
	border-style: solid;
	border-color: #000;
	padding: 10px;
	text-align: center;
	}

